POSTGRES_DB=hello_map_dublin
POSTGRES_USER=awm_developer
POSTGRES_PASSWORD=<your password>
DATABASE_HOST=db
DATABASE_PORT=5432
PGADMIN_DEFAULT_EMAIL=<your_email@tudublin.ie>
PGADMIN_DEFAULT_PASSWORD=<your_password>
DJANGO_SECRET_KEY=73=_23qsw1n=2+p5-6bl_g5ks(hp!90&x#!-ducl0ai_@4k96x